[2018-12-14 17:47] podhrmic opened #10 "Is this repository still maintained?"
Hi, just wondering if this repo is still maintained - I noticed a couple of pending PRs.
Thanks for the info.

[2018-12-17 17:49] podhrmic commented on #10
@hamishwillee thanks for the idea - I was playing with Dronecode SDK in the past. rust-mavlink was more interesting for me, because it is easier to integrate into other rust projects (like [pixhawk-to-UxAS-proxy](https://github.com/GaloisInc/pixhawk-proxy) ). So either way, having a stand-alone Rust library that understands Mavlink would be a good start.

Maybe moving this repo under [mavlink](htt

[2018-12-17 22:12] hamishwillee commented on #10
@podhrmic I'm not opposed, but we need to get 3DR to release it, and Dronecode/MAVlink to accept it. MAVlink is pretty much a volunteer organisation anyway, so this wouldn't necessarily result in more resource. But at least there would be a team to accept changes.

[2018-12-18 02:05] mrpollo commented on #10
I don't own this repo either, and I have no special access to 3DR, but @kevinmehall still works there and is the owner of this repo.

This is a cool utility but doesn't provide a full mavlink API, if anyone is looking for this I would suggest discussing with the DronecodeSDK team, I'm sure a Rust wrapper would be welcomed!

As far as moving it to the mavlink org, we would need to bring it up on a

[2019-01-25 13:16] tstellanova opened #11 "Add support for mavlink 2"
This repo was built before mavlink 2 was widely adopted.  Unfortunately it is now incompatible with things like the px4_sitl version of mavlink.

[2019-01-25 13:23] tstellanova opened #12 "TCP receive blocks on OSX: MavConnection::recv never returns messages"
Testing this library with a TCP connection, send seems to work but receive does not.
The problem seems to be that the socket read has no timeout by default, so the read waits forever.

Setting the timeout:
[code]
and then loop-ignoring the resulting `io::ErrorKind::WouldBlock` seems to unstick the socket.  I've got a WIP fork for this -- if this repo is still maintained, I can submit a PR for that

[2019-01-25 13:44] tstellanova commented on #10
@mrpollo One quandary this apparently abandoned repo poses to the rust development community, from my perspective, is that it is the source of the "mavlink" named crate hosted on crates.io . @mrpollo @tcr3dr or @3drobotics would you be willing to add another owner/maintainer to the crate?  My suggestion is that if 3DR is unable to maintain this repo or release it, then a new maintainer would need

[2019-01-25 16:39] podhrmic commented on #10
Good point @tstellanova
Just an FYI, I am happy to contribute/help maintain this going forward. Also if you are interested, I refactored the code generation, now it uses quote! macros and includes Mav enums and better ser/deser functions: https://github.com/GaloisInc/rust-mavlink/tree/refactor

[2019-01-27 16:05] tstellanova commented on #10
Great progress Michal!  I've forked the Galois repo and started to integrate
[fixes for TCP and further support for mavlink2](https://github.com/tstellanova/rust-mavlink/tree/fix_tcp_recv).
Once this is stable I'll publish a new MAVLink crate to crates.io and add you as an owner if you like. (@mrpollo et al: I could alternatively publish to the existing crate, but you'd need to add me as a crate o

[2019-01-27 20:55] kevinmehall commented on #10
3DR doesn't have anyone actively responsible for this repository anymore. I can put a little time into code review, but I think it makes sense to add additional maintainers and ideally transfer it somewhere like the `mavlink` org.

I reviewed @podhrmic's pending [serial PR](https://github.com/3drobotics/rust-mavlink/pull/9), and the updates in both of your repos looks like a good start as well. If

[2019-01-28 17:38] podhrmic commented on #10
@tstellanova cool! I am happy you found my fork useful:-)

@kevinmehall I will fix the PR accordingly, and later open a more comprehensive PR my other changes.

[2019-01-28 18:55] mrpollo commented on #10
Interesting, I didn't know I had access to that, I just gave access to @kevinmehall @tstellanova @podhrmic and @hamishwillee

[2019-01-28 19:34] podhrmic commented on #10
Thanks @mrpollo !

[2019-02-08 02:03] podhrmic commented on #11
Fixed in #13

[2019-02-08 02:04] podhrmic commented on #12
@tstellanova I believe this should be fixed in #13 ?

[2019-02-08 11:31] tstellanova commented on #12
Yes, fixed in #13

[2019-04-11 16:36] kevinmehall commented on #10
Repo transferred to `mavlink` and I've added @podhrmic  and @tstellanova as collaborators :tada:

Thanks for your help @mrpollo and @dagar!

[2019-04-11 16:36] #10 closed

[2019-05-28 18:54] podhrmic opened #14 "Getting ready for an official release"
This is a tracking issue to make rust-mavlink an officially supported Mavlink implementation.

What needs to happen?

- [x] Split messages into one file per message (similar to what mavgen does)
- [x] Add quickcheck tests for each message
- [x] change enums to uints
- [x] Add fuzz testing
- [ ] (optional) Build actual enums on top of message enums
- [ ] Mavlink 2 support, including signing
- [x] Q

[2019-06-05 19:37] podhrmic commented on #14
FYI work in progress, check out https://github.com/GaloisInc/rust-mavlink/tree/fuzz_testing for the latest commits

[2019-06-06 12:24] tstellanova commented on #12
Fixed

[2019-06-06 12:24] #12 closed

[2019-06-06 12:24] #11 closed

[2019-06-11 16:20] wucke13 opened #15 "Can this library serve as vehicle?"
Skimming the docs, I only read about possibilities of connecting to a given network resource (hostname/ip + port). Can this library also be used to bind a TCP server locally, so that other non vehicle nodes (like GCS) can connect to to it (so that one may use this library on a vehicle)?

[2019-06-11 16:36] kevinmehall commented on #15
`tcpin` listens on a socket for incoming connections. The address is the bind address -- use `127.0.0.1` for localhost-only, or `0.0.0.0` to listen on all interfaces.

[2019-06-11 17:04] wucke13 commented on #15
@kevinmehall Thanks for the fast response :)

[2019-06-11 17:04] #15 closed

[2019-06-12 01:04] podhrmic commented on #14
Added fuzz testing, and started adding quickcheck tests.

Next steps:
- figure out how to implement `Arbitrary` for `ArrayVec`
- implement `Arbitrary` for `MavMessage` and `MavFrame` to complete quickcheck tests

@hamishwillee do you think we need to have hardcoded test vectors as well? Or is a random (quickcheck) testing considered sufficient? Meaning - I generate a message (let's say `HEARTBEAT`

[2019-06-17 06:31] hamishwillee commented on #14
@podhrmic Sorry for the delay, I'm travelling.

Short version ... no.

Generally the steer from @peterbarker on the mavgen library has been "try to test to the same level as the other libraries" - ie C. I believe the C library tests every message but I don't know what values are passed in - ie whether they are random or not.
My gut feeling is that random is good, but we may need to tune this to av

[2019-06-17 17:12] podhrmic commented on #14
Thanks @hamishwillee for the update.

FYI updates on my side if you are interested:
- switching to use `ArrayVec` only for arrays > 32 elements, otherwise will use slices
- working on generating enums as defined in the XML (for easier typechecking) that allow unknown values

[2019-07-17 10:39] wucke13 opened #16 "Feature Request: non-blocking recv()"
It would be nice to have a way of non-blocking `recv()`. I think there is many applications for it, just like in [`std::sync::mpsc::Receiver`](https://doc.rust-lang.org/std/sync/mpsc/struct.Receiver.html).

[2019-10-22 11:01] wucke13 commented on #16
@tstellanova ping

[2019-10-22 12:50] tstellanova commented on #16
@wucke13 feel free to submit a pull request

[2019-12-26 18:35] wucke13 commented on #16
I have looked into this a bit more. AFAIK, there are two ways of accomplishing this:

+ ugly: spawning a new thread, blocking `recv()` in that thread, push to MPSC, use MPSC `try_recv()` to get async behavior. That's what I'm currently doing as a hot fix.
+ _correct_: Adding state to `read_versioned_msg()`. Detect if buffer is not big enough to parse the message, and return `std::io::ErrorKindWoul

[2019-12-27 17:23] tstellanova commented on #16
Sounds like you’re making progress on a design.
Agreed the second approach seems more beneficial than the first.

I’m unlikely to have time to add features in the next few months, and admittedly I have not kept up with the latest async features in rust, so may not be the best person to advise on that. Last I heard, @podhrmic was working on a significant refactor, but I don’t know where that’s at.

[2019-12-30 21:52] podhrmic commented on #16
Hi @wucke13 !
I thought about this library as "bare minimum" - i.e. it only provides struct definitions and a couple of convenience functions (socket and serial read for example). What you are mentioning would benefit from using [rust futures](https://github.com/rust-lang-nursery/futures-rs) for example.

That being sad, feel free to submit a PR with your solution, just make sure it is properly fe

[2020-01-02 03:36] wucke13 commented on #16
I would oppose to using futures for this. From recent experiment I took away that futures are only beneficial when one build complex dependencies on them. For a simple "give it to me, if and only if its ready" they are not a good fit. I would therefore still prefer the `try_recv` style interface.

Also, I think `try_recv` should be considered part of bare minimum. I mean, even the Arduino serial i

[2020-01-03 17:36] michael-p opened #24 "Common message set (common.xml) is missing messages"
Dear all,

it seems that the message definition file (`common.xml`) that is used to generate the code in this crate is pretty old, and misses quite a few messages. In my case I stumbled across this because of the `LOGGING_DATA`, `LOGGING_DATA_ACKED` and `LOGGING_ACK` messages (both are Mavlink 2 messages).

It would be great if this crate could be updated to the most recent version!

Thanks
Michae

[2020-01-21 17:44] podhrmic commented on #24
Can you please try again with the latest master? #27 addressed this.

[2020-01-22 12:52] patrickelectric opened #29 "Create a new release with the last version of master branch"
It would be awesome to have a new release with our last corrections and new message definitions :)

[2020-01-22 19:14] michael-p commented on #24
I just tested this, but sadly the logging related messages seem to not work. I'm currently using my [own fork](https://github.com/michael-p/rust-mavlink) where I simply added the messages I need to the common.xml file and the mavlink log streaming works fine with that. However, just switching to this repo's master branch results in the logging request being rejected by the flight controller (PX4 1

[2020-01-22 20:17] patrickelectric commented on #29
@tstellanova ping.
I did a camera manager with rtsp and mavlink using rust, but for that it's necessary a new release to do the deploy via cargo.
https://github.com/patrickelectric/ardupilot-camera-manager

[2020-01-23 16:32] patrickelectric commented on #29
ping @podhrmic

[2020-01-23 17:38] michael-p commented on #29
Please see #24 first, seems there are some problems with the new messages.

[2020-01-23 17:45] michael-p commented on #24
I did some more test and it looks like message with `<extensions/>` are not serialized and deserialized correctly (or, at least, it seems to be incompatible with PX4).

I tested with `VISION_POSITION_ESTIMATE` (send from Rust to PX4, that is, serialization) and `COMMAND_ACK` and `ATTITUDE_QUATERNION` (deserialization). In both cases, messages are not received at the other end, however, when I comm

[2020-01-23 18:07] patrickelectric commented on #24
@michael-p I confirm that extensions are being compiled, will try to investigate it.

[2020-01-23 22:40] patrickelectric commented on #24
@michael-p please check #30, it should fix your problem

[2020-01-24 07:31] michael-p commented on #24
Thanks Patrick, I checked your PR, and with the new `emit-extensions` feature disabled everything works as expected.

Although this does fix my use-case I'm still not sure there might not be a deeper cause for these problems. As far as I understand the [Mavlink documentation about extensions](https://mavlink.io/en/guide/define_xml_element.html#message_extensions), these extension fields should jus

[2020-01-24 12:19] patrickelectric commented on #24
@michael-p I never used the extensions feature myself, but from the binary serialization/deserialization code, rust-mavlink is doing it in correctly and without problems.
We should investigate it a bit further, but the extension fields as features already help us to debug and one step further to provide the compatibility with all protocol definition files.

[2020-01-24 13:02] michael-p commented on #24
You are right, having this behind a feature flag is definitively a way to move forward.
However, I think we should at least put a comment in the `Cargo.toml` next to that feature explaining that there might still be issues with extensions, maybe even point to this issue. Otherwise, I imagine this could be quite frustrating for a new user who discovers and enables the `emit-extensions` feature, and

[2020-01-29 21:08] #24 closed

[2020-01-29 21:08] #29 closed

[2020-01-30 12:38] patrickelectric opened #33 "A new release before multiple messages definitions"
Right now we have the full common message definition available.
It's a good time to do a new release before the multiple message definition integration [ardupilotmega, autoquad, minimal, standard, ...].

[2020-01-30 12:38] patrickelectric commented on #33
ping @podhrmic

[2020-01-31 00:24] podhrmic commented on #33
I can push to crates.io (I *think* I have access)
@patrickelectric do you want to make any additional changes in the documentation/etc. before pushing the new release?

[2020-01-31 13:21] patrickelectric commented on #33
@podhrmic I did some small improvements and updates in Cargo to 0.7 release,
you can check it here: https://github.com/mavlink/rust-mavlink/pull/34

[2020-01-31 18:02] podhrmic commented on #33
@patrickelectric I don't have access rights to the [mavlink crate](https://crates.io/crates/mavlink)

@tstellanova @mrpollo @kevinmehall @tcr3dr can you please add me as an owner? (or publish the new version yourself)

[2020-01-31 22:02] patrickelectric commented on #33
@podhrmic We could also do such thing via travis, if someone could setup the token.

[2020-02-01 02:04] tstellanova commented on #33
Sent you an invite Michal— let me know if I need to do more.

[2020-02-01 02:18] podhrmic commented on #33
Done! https://crates.io/crates/mavlink

[2020-02-01 02:19] #33 closed

[2020-02-01 11:38] patrickelectric commented on #33
![f6b293cd521fc13f3c7f0d0aefeafdc3](https://user-images.githubusercontent.com/1215497/73591514-30267580-44ce-11ea-9d64-45cbd0596f97.jpg)

[2020-02-01 14:52] michael-p opened #35 "Release 0.7 requires recompilation on every build"
Dear all,

I just noticed that the recently published version 0.7 is rebuild by Cargo on every run, even though nothing has been modified.

To reproduce, create a new project and add mavlink to it:
[code]
Then, just run the project twice without modifying anything in between:
[code]
Notice that both the mavlink crate as well as the application itself were compiled again.

For comparision, this is

[2020-02-19 18:42] laptou opened #37 "MavMessage::parse panics on invalid message"
https://github.com/mavlink/rust-mavlink/blob/8c43fe7fa2128eaa001c6640fafc746e01a7afd3/build/parser.rs#L195-L202

`MavMessage::parse` is set up to `unwrap()` the value that is provided by `serde`.

Why can't it just return `None` instead of unwrapping? This way, invalid data will not lead to a panic.

[2020-03-02 12:24] patrickelectric commented on #37
Is this still a valid issue ?

[2020-03-02 14:25] laptou commented on #37
I generally think that methods in a library should avoid panicking whenever possible (and here, it's definitely possible to avoid panicking by just returning `None`/`Err`). However, it's no longer actively causing problems in my application, so I'm not going to push on it.

[2020-03-02 21:31] podhrmic commented on #35
Hmm, I wonder if this is because we now [checkout](https://github.com/mavlink/rust-mavlink/blob/master/build/main.rs#L19) `common.xml` from mavlink submodule, rather than using [a static copy of the file](https://github.com/mavlink/rust-mavlink/blob/c24eed107cbd8de083948a89c19dc9246dfe18ab/build/main.rs).

We should pin to a specific mavlink commit anyway, so `git checkout ...` would be better. I

[2020-03-11 15:36] podhrmic commented on #14
Closing as this is not relevant anymore. Some of the ideas (fuzz testing, etc) can be incorporated later if needed.

[2020-03-11 15:36] #14 closed

[2020-03-12 00:34] podhrmic opened #46 "Unused import warning"
With `0.8` I get the following warning:

[code]

[2020-03-12 00:35] podhrmic commented on #35
@michael-p this issue is currently fixed in `master`, and will be shortly published as version `0.8` on crates.io

[2020-03-13 17:50] patrickelectric opened #47 "Release 0.8.0 version"
right now we have some new features that could be shipped in a new release version

[2020-03-16 20:51] podhrmic commented on #47
Done!

[2020-03-16 20:51] #47 closed

[2020-03-16 20:52] podhrmic commented on #35
@michael-p we just released `0.8` - I recommend updating your `Cargo.toml` as this will fix your issue.

[2020-03-16 20:52] #35 closed

[2020-03-16 21:14] michael-p commented on #35
Thank you Michal!

[2020-04-15 01:17] laptou commented on #37
I have a MAVProxy server that is sending `COMMAND_ACK` messages with a `type` value of 11. I don't know what that is, but it seems like these messages can safely be ignored, so I would like the option to ignore them. However, the current behaviour of this crate is to panic when you try to parse an unknown enum value (the result of `unwrap`ing the result of using `FromPrimitive` in parser.rs).

[2020-05-02 17:40] #37 closed

[2020-05-25 16:42] patrickelectric opened #51 "recv panic if mavlink specification is not used correctly"
Message::parse should result an Result and not an Option.
This is necessary since the parser can fail if someone does not follow the mavlink specification, E.g:
https://github.com/patrickelectric/mavlink2rest/issues/7#issuecomment-633636231

[2020-05-25 17:03] patrickelectric commented on #51
This was fixed by 0.8.2

[2020-05-25 17:03] #51 closed

[2020-06-11 16:45] patrickelectric opened #56 "Force update 0.8.3 tag to deploy version"
@podhrmic since travis failed with the test and was unable to release 0.8.3 in rust crates, I believe that we should force push the tag to the current master branch

[2020-06-11 18:24] podhrmic commented on #56
I had to verify an email on crates.io to get it work, silly.
We have 0.8.3 now! https://crates.io/crates/mavlink
Thanks for all the work @patrickelectric !

[2020-06-11 18:24] #56 closed

[2020-06-11 18:40] patrickelectric commented on #56
Thank you for your time @podhrmic

[2020-06-19 14:24] patrickelectric opened #57 "Add mavlink extension support in compile time"
Right now we have a feature called **emit-extensions** that generate it it compile time.
But we have mavlink V1 or mavlink V2 as a runtime option and that should the way that we handle the extensions also.
It would be nice to have all extensions over a **Option** and serialize deserialize it based in the mavlink version running.

[2020-06-19 14:55] patrickelectric opened #58 "feature ardupilotmega fail to build"
[code]

[2020-06-19 15:02] patrickelectric opened #59 "ardupilotmega is not using icarous and uavionix modules when generated"
@laptou can you take a look ?

[2020-06-19 15:12] laptou commented on #58
Are the `icarous` and `uavionix` features enabled?

[2020-06-19 15:34] patrickelectric commented on #58
Thanks @laptou, I was able to figure out it, there is an open PR for that: #60

[2020-06-19 15:35] patrickelectric commented on #59
It would be nice to have access to common and others messages that are included in ardupilotmega with:
[code]

[2020-06-19 15:51] patrickelectric opened #61 "Fail to parse messages that have extension fields"
When emit-extensions is enabled, the library fail to parse messages that contain such extensions, like:
BATTERY_STATUS, SERVO_OUTPUT_RAW and etc

[2020-06-19 16:17] patrickelectric commented on #59
Maybe is better to check the necessary includes in the xml and merge all in a big one to do the parse process.

[2020-06-19 18:11] patrickelectric opened #62 "Fail to order fields correctly when using extensions"
From: https://mavlink.io/en/guide/serialization.html#field_reordering
From the c library v2:
![image](https://user-images.githubusercontent.com/1215497/85167384-1ef0c200-b23f-11ea-9964-db57b096fb90.png)
From the actual generated code:
![image](https://user-images.githubusercontent.com/1215497/85167421-2f08a180-b23f-11ea-9692-9cec9e6fcd18.png)

[2020-06-22 17:06] #58 closed

[2020-06-22 17:07] #61 closed

[2020-06-22 17:07] #62 closed

[2020-06-25 04:21] hamishwillee opened #65 "Maintainer nominations: Patrick Pereira et al"
@patrickelectric Has indicated an interest in becoming a maintainer for the project. This makes sense to me based on the contribution patterns.

@kevinmehall You're the original "owner". Any objections. Ditto other team members?

[2020-06-25 07:32] hamishwillee commented on #65
@julianoes appears to have decided this is a no brainer :-). Closing.

[2020-06-25 12:37] tstellanova commented on #65
Thank you for moving this work forward, @patrickelectric !

[2020-06-25 15:02] patrickelectric commented on #65
Thanks @tstellanova, @julianoes and @hamishwillee! Hope to match everybody expectation with this library.

[2020-06-25 16:12] kevinmehall commented on #65
:+1: from me. Your contributions look great.

[2020-06-25 16:53] patrickelectric opened #67 "Check and test all examples in README"

[2020-06-26 02:46] patrickelectric opened #69 "Add test with tlog files"

[2020-06-30 04:35] #69 closed

[2020-07-04 23:10] #67 closed

[2020-07-04 23:12] patrickelectric commented on #16
Just to update this issue, I'm working to add such feature, probably a PR should be ready in a couple of days, the ideas is to implement something like `try_recv` as @wucke13 commented, and maybe in the future having something closer to `mpsc`.

[2020-07-06 13:10] wucke13 commented on #16
@patrickelectric That is very good news! However, please note: Since I wrote my comment, futures came a long way! Especially with `smol` the futures thing became much more accessible, at least to me. I think the correct way of doing making the mavlink crate future proof is this:

+ Offering `recv()` for legacy compatibilitie, and because it is sufficient sometimes
+ Offering `try_recv()` for simpl

[2020-08-14 23:07] quietlychris opened #72 "Idiomatic way of accessing parsed message fields?"
Hello,

I'm working on using some of the data from a prototype [Aqualink ASV](https://discuss.bluerobotics.com/t/full-assembly-and-build-instructions-now-available-for-asv/7849), and am curious if I'm missing the idiomatic way of directly parsing and accessing a data structure read from a Mavlink message.

I'm using something like the following to collect the messages:
[code]
The problem is, I'm t

[2020-08-15 13:26] patrickelectric commented on #72
Hi @quietlychris, I would recommend to take a look in the [projects](https://github.com/mavlink/rust-mavlink#community-projects) that are using rust-mavlink as a guide of how to use the API.

But to answer your questions, this is how you can grab and fetch the message information:
[code]

And after that you can do:
[code]

[2020-08-15 18:44] quietlychris commented on #72
Ah, perfect. I see, it looks like I was just passing the `mavlink::common::MavMessage::ATTITUDE` back into an identical, but temporarily-allocated structure that passed out of scope, rather than actually assigning it to a variable like I should have done.

 Sorry about that, now that you've pointed it out, I'm seeing this Waldo in those examples everywhere. Thanks :)

[2020-08-15 18:44] #72 closed

[2020-08-15 19:20] patrickelectric commented on #72
@quietlychris be free to share with us your projects in our README that is using rust-mavlink.
Have a great weekend!

[2020-09-07 23:06] patrickelectric opened #75 "cargo token need to be updated"
@podhrmic can you update the token in our travis configuration ? Right now it's not impossible to do new releases:

[2020-09-08 17:35] podhrmic commented on #75
Fixed with dc912494fca678b96a68c61c035dba92a49879de

[2020-09-09 19:50] wucke13 opened #77 "PARAM_VALUE_DATA"
How are the different types in [MavParamType](https://docs.rs/mavlink/0.8.6/mavlink/common/enum.MavParamType.html) encoded in [PARAM_VALUE_DATA](https://docs.rs/mavlink/0.8.6/mavlink/common/struct.PARAM_VALUE_DATA.html#structfield.param_value)?

Especially, how is a UINT64 put to the `PARAM_VALUE_DATA.param_value` field, which is only f32?

[2020-09-10 01:28] patrickelectric commented on #77
Hi @wucke13, `PARAM_VALUE` does not support uint64, only float32, you can check it here:
https://mavlink.io/en/messages/common.html#PARAM_VALUE

[2020-09-10 04:24] #75 closed

[2020-09-10 08:48] wucke13 commented on #77
@patrickelectric Thank you for the fast response, though that does not answer my question fully. E.g., if I want to write 13 aka 0xd to a variable which is uint, not float, what do I write to said `f32`? `13.0`?

[2020-09-10 16:06] patrickelectric commented on #77
Can you explain which parameter are you talking about ? Take in mind that you are right now talking about the mavlink specification and not the mavlink rust library, since the specification says that the parameter is a float 32 value.

[2020-09-13 14:10] wucke13 commented on #77
I don't really see the point in speaking about one parameter in particular, but here you go. [ARMING_CHECK](https://ardupilot.org/copter/docs/parameters.html#arming-check-arm-checks-to-perform-bitmask) seems to be a bitmask. How is this represented in rust-mavlink?

[2020-09-13 18:06] patrickelectric commented on #77
The information is encoded as a bitmask, but the true value of ARMING_CHECK is a int that is casted to float.
E.g: Barometer + Compass will result in 0b0000'0000'0000'0110, that's equal to 6 (int), that is casted to float as 6.0;
As a side note, all parameters are casted to float, as I said, this is how the mavlink protocol works, thing that any value will be in the backend an int number if the in

[2020-09-14 11:49] wucke13 commented on #77
Ok, thank you for the detailed explanation! Then only one question is left on my side: what meaning does `param_type` have in this setting? Can it be arbitrarily, because the FC know what type a parameter is anyways?

[2020-09-14 12:42] patrickelectric commented on #77
it's only important for the GCS, the flight controller will probably ignore this field.

[2020-09-18 14:34] wucke13 opened #78 "Discussion: Improving the API"
Hi, I would like to start a discussion about improving the MAVLink API. I frequently come across situations which are (at least with my knowledge) not easy to solve using this library.

#### Subscribing to a specific message

Often I want to receive a certain message somewhere in the code. This is a key feature in order to not have this one huge `match` statement where each and every message is pr

[2020-09-29 09:22] wucke13 commented on #78
The interest in discussing this seems to be on a moderate level at best. I released some the proposed changes in an independent crate on [crates.io](https://crates.io/crates/async-mavlink).

[2020-09-30 18:35] patrickelectric commented on #78
Hi @wucke13, sorry for not being able to help much about this matter, but I was planning to create an actor based communication method over mspc, that appears the correct way to accomplish it.
I started the implementation but since I'm out of time I was unable to finish it.

Don't you want to create a PR to add the async functionality in this repository ?

[2020-10-01 12:11] wucke13 commented on #78
Yeah, I'm still happy to merge my code. However, now that I released to an independent crate, I would like to use the opportunity to refine things more. I wan to add some convenience functions (like send message a, until the first message b arrives) for dealing with unreliable communications.

My strongest desire which AFAIK can not be solved outside of this crate would be an implementation of

`T

[2020-10-01 13:50] patrickelectric commented on #78
From what I know this is not possible directly and a generic tryfrom will need to be implemented, and I don't see a reason for this.
What is necessary IMO is to recreate the parser and deal with the parsing to be async, that's what I'm doing with my patch plus the async communication with mspc.
You can check that in my open draft PR here: #79

[2020-10-01 14:38] wucke13 commented on #78
Well, here is one: This is necessary to offer a sane API where the user receives filtered messages (e.g. only one message type). If I and a stream both now that said stream will only yield `PARAM_VALUE` messages, than it would be very nice for the stream to be able to directly return `PARAM_VALUE_DATA` structs. Currently, there is no way to offer such an API, for the reasons stated in my initial p

[2020-10-23 13:55] patrickelectric opened #80 "automatic detect mavlink version"
Right now it's necessary to know if the connection is done with mavlink1 or mavlink2

[2020-11-29 18:12] wucke13 commented on #78
@patrickelectric Ping

Also: if this helps, I'm open to hop on a virtual meeting to discuss this issue further. However that's just an idea.

[2020-12-01 12:22] patrickelectric commented on #78
Hi @wucke13, sorry I'm in a complicate period in the last days, will try to catch-up with this discussion when possible.

[2020-12-01 21:14] wucke13 commented on #78
@patrickelectric As stated before, I'm open to any means of digital communication, at your choice. Until then: take your time and good luck!

[2021-01-27 06:18] hamishwillee opened #82 "Don't support signing?"
Just confirming for the mavlink docs tat this library doesn't support signing - right?

Are there any more docs than provided on the readme?
For context, I'm trying to characterize the things provided by each project
- ie level of docs (where [this one for C](https://mavlink.io/en/mavgen_c/) might be full
- level of testing - ie what is tested, unit test, round trip tests, test that send receive f

[2021-01-28 16:59] patrickelectric commented on #82
Hi @hamishwillee, I hope that you are doing fine.

About rust-mavlink, it indeed has a support for signed messages, but not fully.
It can receive but will do nothing with the signed value itself.

For documentation, you can get it here: https://docs.rs/mavlink/latest/mavlink/
For testing: https://github.com/mavlink/rust-mavlink/tree/master/tests
    - They are done with some hardcoded messages to

[2021-02-02 23:02] hamishwillee commented on #82
Thank you very much for the clarification.

[2021-02-02 23:49] hamishwillee commented on #82
Note, I've updated mavlink docs with link in https://github.com/mavlink/mavlink-devguide/pull/312

I have not updated the information on signing because it still isn't quite clear to me what you mean by not supported. Full signing support would look something like:
1. Has a mechanism for setting a key to use for signing messages (key management itself might be in hardware).
1. Has mechanism for tu

[2021-02-04 17:56] wucke13 commented on #77
@patrickelectric
After carefully reading the [mavlink specs section about the parameter protocol](https://mavlink.io/en/services/parameter.html#px4), I'm inclined to believe that this statement is wrong:

And this is not how rust-mavlink deals with the value, that's how the mavlink protocol is defined.

What I understand from reading it is, that the correct way per mavlink spec would be to cast (i

[2021-03-06 20:31] mrpollo opened #85 "Add deployment to crates.io"
It would be awesome if we could have the package in crates.io

This was originally brought up by @patrickelectric on the PX4 Slack #mavlink channel

This is an isssue to track.

[2021-03-06 21:33] patrickelectric commented on #85
Hi @mrpollo, sorry if I was not clear. We have the package under https://crates.io/crates/mavlink, in the pass it was done manually, after some work we put that to be automatic done by travis, and not we moved from travis to github actions, and now we need to add the secret key on the repository to be able to do the automatic package update on crates.io. Since I don't have permission to do such th

[2021-03-07 15:33] kevinmehall commented on #85
@podhrmic set this up before. There's a [rust-mavlink-builder](https://crates.io/users/rust-mavlink-builder) account on GitHub / crates.io whose [crates.io API key was added as a secret in the Travis config](https://github.com/mavlink/rust-mavlink/commit/c975d078e5444114f3f608dc0cb72e2c177d8b75#diff-6ac3f79fc25d95cd1e3d51da53a4b21b939437392578a35ae8cd6d5366ca5485) for automatic publishing.

[2021-03-08 17:17] podhrmic commented on #85
Correct. @kevinmehall do you need me to change anything about the builder account, or can you just copy the API key to github actions?

[2021-03-08 18:25] patrickelectric commented on #85
I believe that only the API key on the [repository secrets](https://github.com/mavlink/rust-mavlink/settings/secrets/actions) should be enough

[2021-03-08 21:32] mrpollo commented on #85
@podhrmic @kevinmehall can the secret be copy-pasted? or should we re-generate the secret?

I went ahead with the copy/paste route and added the secret, as a "Repository Secret"

<img width="925" alt="Screen Shot 2021-03-08 at 1 30 36 PM" src="https://user-images.githubusercontent.com/317648/110384515-986d5200-8012-11eb-985a-43a307f80a72.png">

[2021-03-08 21:54] kevinmehall commented on #85
The value is encrypted in the .travis.yml and I don't think Travis offers a way to get it in cleartext, so @podhrmic will need to generate a new token and add it on GitHub's repository secrets.

[2021-03-08 21:55] kevinmehall commented on #85
I increased your permissions so you can get to the [repository secrets](https://github.com/mavlink/rust-mavlink/settings/secrets/actions)

[2021-03-08 23:04] podhrmic commented on #85
Token updated. It should be working now. How can we test it?

[2021-03-08 23:07] patrickelectric commented on #85
I'll soon create the build step for crates.io deployment

[2021-03-08 23:27] patrickelectric commented on #85
Done: https://github.com/mavlink/rust-mavlink/pull/92

[2021-03-09 06:39] mrpollo commented on #85
Thanks everyone 👏

[2021-03-09 06:39] #85 closed

[2021-03-09 12:47] patrickelectric opened #93 "New 0.9.0 version"
I'm planning to deploy this week the 0.9.0 version with some new features including the new embedded support.
I'll just finish a couple of tests with the stm32f303 before doing it.
@podhrmic @kevinmehall let me know if you guys are ok with it

[2021-03-11 14:36] patrickelectric commented on #93
The new release will be done after https://github.com/mavlink/rust-mavlink/pull/94 get merged

[2021-03-12 01:01] patrickelectric commented on #93
0.9 is available, thanks for everybody that make it possible!

[2021-03-12 01:01] #93 closed

[2021-03-12 01:22] podhrmic commented on #93
Good work!

I noticed a funny thing - the README on [crates.io](https://crates.io/crates/mavlink) still shows version 0.8, even though the install instructions and everything else is up to date and shows version 0.9 - not sure how that happened, since the README is a mirror of the github repo...

[2021-03-31 13:17] allsey87 opened #95 "Support async contexts and make the crate more transport-agnostic"
Hi there, I needed to decode MAVLink messages in an async application based on the Tokio executor, so I went ahead and implemented a decoded using tokio_util's `Decoder` trait and this library here: [codec.rs](https://github.com/allsey87/mns-supervisor/blob/34220c6b9627f5e6cc02a190ac3dc9bd849ab6b5/src/robot/drone/codec.rs). With this trait in place, I am able to decode messages asynchronously with

[2021-05-15 17:02] wucke13 commented on #95
This sounds like a good idea! I'd also prefer having a pure types & serde library, and another, separate lib for the communication interfaces. I started working on some kind of communication library over at https://crates.io/crates/async-mavlink .
I think it would make sense to just provide an async, `libstd` communication library. I don't think we should prioritize a communication library for `no

[2021-05-20 15:51] patrickelectric opened #97 "component_id does not support mavlink::common::MavComponent"
MavComponent should be allowed to be used with component_id

[2021-05-26 02:01] hamishwillee commented on #97
@patrickelectric What do you mean? There is nothing called MavComponent in common.xml.

Do you mean [MAV_COMPONENT](https://mavlink.io/en/messages/common.html#MAV_COMPONENT). If so this is an enum of component ids that have some predefined meaning. In theory you can actually any id other than 0 for anything, but in practice this will break code that relies on the predefined meaning.

[2021-05-26 11:37] patrickelectric commented on #97
Thanks for your input @hamishwillee ! But yes, this is more related to the rust implementation :smile:
Sorry for creating this simple issue, but it's better to write it down than forgetting.
The idea is to allow component_id used for the header creation to accept MavComponent enum, right now it only supports unsigned 8bits:
https://docs.rs/mavlink/0.9.0/mavlink/struct.MavHeader.html

But it should

[2021-05-27 02:27] hamishwillee commented on #97
No need to be sorry - I think it is excellent to create issues as it is way too easy to lose track of things! And this is definitely a bug.

[2021-10-18 13:00] allsey87 opened #103 "Heartbeat fields have an inconsistent order"
As I understand [the specification for the heatbeat message structure](https://mavlink.io/en/messages/common.html#HEARTBEAT) , `custom_mode` should come after `base_mode` and before `system_status`. However, when I look at the Rust code in common.rs, I have the following with the `custom_mode` bytes being inserted first:
[code]
I guess one of the two are incorrect?

[2021-10-21 15:05] danieleades opened #104 "test failure - "test process_files::all""
the `test process_files::all` test is failing

`cargo test --features all-dialects`

[code]
seeing this locally, as well as in CI

[2021-11-22 10:19] ddavid commented on #104
Any news on this? The recv error seems to appear on any file-related connections.

@patrickelectric if you can point to a likely reason, I might be able to tackle this, since I need to read messages from a log file for a project at work.

[2021-11-24 10:02] patrickelectric commented on #104
This is a problem of the ArduPilot organization where after a couple of months the tlog files are lost and are replaced by images.
[code]

[2022-02-03 09:22] elpiel opened #108 "Serde derive macro is not found"
I'm using mavlink with the default set of features and I get an error message for serde derive macro:

[code]

[2022-02-03 10:21] patrickelectric commented on #108
Hi @elpiel, I did a full cargo clean and cargo build, I'm using the latest stable version of rust: 1.58.1 (db9d1b20b 2022-01-20)

[2022-02-03 10:27] elpiel commented on #108
I believe that the serde feature should also enable `serde/derive`?
Once I added serde with the derive features to my Cargo.toml it compiles successfully

[2022-02-03 11:32] elpiel commented on #108
- Cargo.toml
[code]

- main.rs

[code]

- Run: `cargo build`

[2022-02-03 11:51] patrickelectric commented on #108
Thnaks for the example, indeed as a dependency the package is missing the derive feature.
I have created a PR to fix the issue: #109
You can test with: `mavlink = { git = "https://github.com/patrickelectric/rust-mavlink", branch = "fix_serde" }`
A 0.10.1 should be available soon

[2022-02-03 12:17] #108 closed

[2022-02-03 12:18] patrickelectric commented on #104
The test is disable for now

[2022-02-03 12:28] patrickelectric commented on #108
0.10.1 should be available now

[2022-02-03 16:38] ddavid commented on #104
Hi Patrick, you're right that the log files seem to be lost after some time. Would it make sense to add some test data to this repository, so you can keep the tests for log files?

I'm asking because the issue seems to be the same, even with valid binary log files.
I've attached an example for which `mavlink_dump` fails, `.zip` for GitHub to accept it as an attachment.
Is that expected?
[ArduPlane

[2022-02-08 19:33] patrickelectric commented on #104
You should run a tlog file and not a .bin file, .bin are dataflash files.

[2022-02-08 19:35] patrickelectric commented on #104
Done in # #110 #109

[2022-02-08 19:35] #104 closed, assigned to nobody

[2022-05-03 20:01] patrickelectric opened #111 "PARAM_EXT_VALUE.param_type is zero when using MAV_PARAM_EXT_TYPE_INT64 after serialization"

[2022-07-20 14:00] bitsauce opened #112 "Commands are not being properly parsed when the command type originates from `ardupilotmega.xml` (and others)"
Hi! I have been trying to receive a command that is defined in `ardupilotmega.xml` without any success. I found out that this doesn't currently work because the generated `mavlink::common::COMMAND_LONG` struct has a member `pub command: mavlink::common::MavCmd`, however, that enum currently does not contain commands from any other file than `common.xml`.

This results in `mavlink::common::COMMAND_

[2022-08-17 17:14] patrickelectric opened #120 "TuneFormat does not exist on rust-mavlink"
https://mavlink.io/en/messages/common.html#TUNE_FORMAT

[2022-08-22 14:33] Erk- commented on #120
This will be there if the `mavlink` submodule is updated:
![image](https://user-images.githubusercontent.com/3659684/185947113-653008c4-5ffc-4715-92f9-a86a3e70321d.png)

[2022-08-22 20:07] patrickelectric commented on #120
master branch of rust-mavlink does not build with the latest version of the mavlink repository.

can you specify the mavlink hash that builds and contains tune format ?

[2022-08-22 20:12] patrickelectric commented on #120
Well, it appears that is showing now, closing it.

[2022-08-22 20:12] #120 closed

[2022-09-07 14:39] danieleades commented on #95
this proposal makes a lot of sense. Likely possible to do this without breaking changes by pulling the transport-agnostic code into a separate 'core' crate in the workspace.

[2022-11-14 08:31] kidevuojarvi opened #135 "Rust enums don't support combining, can't set multiple bitflags"
Some of the bitflag data in the project is stored with enums, which causes issues with flags that are not mutually exclusive. Rust doesn't support combining enumerated values, and thus prevents the use of multiple flags, even though the flags are cast into `u16` in serialisation.

The specific case I ran into is `mavlink::common::GimbalDeviceFlags`, where I'd like to lock each axis. This requires

[2022-11-14 09:59] Erk- commented on #135
It seems the reason that it fails is because it is not listed with `display = "bitmask"` in the `<field>`events which is what is used to decide if it should be a bitflag or a enum. This could be resolved by doing it a different way or doing some patching of the files when the code is generated.

[2022-11-14 10:56] kidevuojarvi commented on #135
Ah, apparently. Thanks for the quick reply, I'll look for a workaround.

[2022-11-14 11:16] Erk- commented on #135
If you make a folder called `patches` in the `build` folder you can drop patches that will be applied when compiling there

[2022-11-15 06:23] danieleades opened #137 "add MSRV"
this project doesn't seem to define an MSRV.

This should be added to CI.

benefits-

- bumping the MSRV should be considered a patch change pre-1.0, and a minor change post 1.0
- clippy can be configured with the MSRV to stop it suggesting changes which the MSRV doesn't support

the current MSRV for this project looks to be 1.56.1

[2022-11-25 15:16] qwerty19106 opened #139 "MavFrame serialize into a vector with wrong fields order"
True fields order for [Mavlink Serialization](https://mavlink.io/en/guide/serialization.html):
- magic (start)
- len
- ... (V2 fields)
- sequence
- system_id
- component_id
- message_id
- payload
- checksum

Now (**MavFrame::ser** method):
- system_id
- component_id
- sequence
- message_id
- payload

In addition, **MavFrame::ser** and **MavFrame::deser** methods are not used in the **MavConnection

[2022-11-29 15:18] Erk- opened #141 "Update Mavlink submodule"
The mavlink submodule should be updated, there is a few things in the newer versions which does not work with the parsing.
I started on it in https://github.com/mavlink/rust-mavlink/pull/132, but never finished it.

[2022-11-29 17:56] #137 closed